.form__save-btn {
  width: 100%;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
  margin-top: 50px;
  cursor: pointer;
  transition: opacity .3s;
}

.form__save-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .form__save-btn {
    margin: 42px 0 0;
    font-size: 14px;
    line-height: 18px;
  }
}